<!DOCTYPE html>
<html lang="en">
  <head>
   <title>
     <%- title %>
   </title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-10">
      <%- include('./layout.ejs') %>
      <h1>
      <%- title %>
      </h1>
      <form action="" method="post">
       <div class="form-group">
         <label for="name"> Name: </label>
         <input id="name" class="form-control" type="text" placeholder="Name" name="name"
         required="true" value=<%- category === undefined ? '' : category.name %> >
         <label for="description"> Description: </label>
         <input id="description" class="form-control" type="text" placeholder="Description" name="description"
         required="true" value=<%- category === undefined ? '' : category.description %> >
       </div>
       <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <% if (errors) { %>
       <ul>
         <% errors.forEach(error=> { %>
         <li>
           <%- error.msg %>
         </li>
         <% }) %>
       </ul>
      <% } %>
    </div>
    </div>
  </div>
  </body>
</html>